

.component-categories { /*kotak diluar lingkaran*/
    background: #F4F4F4;
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
    margin-bottom: 20px; /*jarak dan atau jeda antara card dengan baris selanjutnya*/
    transition: all 0.2s ease-in-out;

    &:hover{
        transform: scale(1.05);
        text-decoration: none; /*hilangkan garisbawah link untuk hover*/
    }

    .categories-text{ /*timpa untuk menghilangkan warna biru pada link*/
        color: #0C0D36;
        font-size: 18px;
        text-align: center;
        font-weight: normal;
        margin-top: 12px;
    }
}